:root {
	--color-1: rgb(111,111,111);
	--color-2: rgb(217, 44, 249);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Poppins, sans-serif;
	color: var(--color-1);
}

h1, h2, h3, h4 {
	color: rgb(67, 72, 92);
}

.header__nav--menu__item a,
.services__section > div,
.projects__section > div,
.project > div,
.contact-me__section--form button {
	transition: all 0.3s ease-in-out;
}

.header__nav {
	background: white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.header__nav--brand:link,
.header__nav--brand:visited {
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--color-2);
	text-transform: uppercase;
}

ul.header__nav--menu {
	list-style-type: none;
	display: flex;
}

.header__nav--menu__item a:link,
.header__nav--menu__item a:visited {
	font-size: 1.3rem;
	font-weight: 300;
	text-decoration: none;
	color: var(--color-1);
	padding: 8px 12px;
}

.header__nav--menu__item a:hover,
.header__nav--menu__item a:active {
	color: var(--color-2);
} 

section#intro {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('background.jpg') no-repeat center;
	background-size: cover;
	margin-top: 67px;
}

.intro__overlay {
	width: 100%;
	min-height: 100vh;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(217, 44, 249, 0.4);
	color: white;
}

#intro img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.intro__name {
	font-size: 3rem;
	font-weight: 700;
	margin: 20px 0 10px;
	text-transform: uppercase;
}

.intro__name p {
	margin-top: 10px;
}

.intro__name p span {
	color: rgb(217, 44, 249);
}

.intro__skill {
	font-size: 1.8rem;
	font-weight: 300;
	text-align: center;
}

hr {
	border: none;
	height: 0;
	border-top: 1px solid lightgray;
}

.about-me__title,
.services__title,
.projects__title,
.skills__title,
.contact-me__title {
	margin: 40px 0;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.about-me__desc--pic {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 70px;
	grid-row-gap: 30px;
	padding: 40px;
	margin-top: 30px;
}

/*.about-me__desc {
	width: 55%;
}*/

.about-me__desc > p {
	margin-bottom: 10px;
}

.about-me__desc > hr {
	margin: 40px 0;
}

.about-me__desc--contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

/*.about-me__pic {
	width: 35%;
}*/

/*.about-me__pic >div {
	width: 90%;
	margin: auto;
}*/

.about-me__pic >div > img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.about-me__pic >div .social {
	background: rgb(31, 44, 108);
	padding: 30px 0;
	display: flex;
	justify-content: center;
	margin-top: -10px;

}

.about-me__pic >div .social a {
	margin: 0 10px;
}

.about-me__pic >div .social i {
	color: white;
	font-size: 1.5rem;
}

section#services {
	background: rgb(249, 251, 253);
}

.services__section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	
	padding: 40px 30px;
}

.services__section > div {
	background: #aec9e4;
	color: white;
	padding: 20px;
}

.services__section > div h1 {
	margin-bottom: 20px;
}

.services__section > div:hover {
	transform: scale(1.03);
}

.projects__section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 20px;
	padding: 40px 30px;
}

.projects__section > div {
	border: 1px solid lightgrey;
	overflow: hidden;
	position: relative;
}

.projects__section > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.projects__section > div:hover {
	transform: scale(1.03);
}

.project > div {
	background: rgba(217, 44, 249, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scaleX(0);
	z-index: 1;
}

.projects__section > div:hover div,
.projects__section > div:active div {
	transform: scaleX(1.0);
}

.projects__section > div:hover div>p {
	color: white;
	font-size: 1.5rem;
}

section#skills {
	background: rgb(249, 251, 253);
}

.skills__section {
	padding: 40px 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	grid-row-gap: 30px;
	grid-column-gap: 70px;
}

.skills__section--section-1__skill,
.skills__section--section-2__skill {
	margin-bottom: 20px;
}

.skills__section--section-1__skill--rating,
.skills__section--section-2__skill--rating {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills__section--section-1__skill--rating__progress,
.skills__section--section-2__skill--rating__progress {
	background: #aec9e4;
	height: 10px;
	border-radius: 5px;
	width: 85%;
}

.skills__section--section-1__skill--rating__progress-bar,
.skills__section--section-2__skill--rating__progress-bar {
	height: inherit;
	border-radius: inherit;
	background: var(--color-2);
}

.skills__section--section-1__skill--rating__rate,
.skills__section--section-2__skill--rating__rate {
	color: var(--color-2);
	font-weight: 700;
}

.contact-me__section {
	width: 80%;
	margin: 40px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 60px;
	grid-row-gap: 30px;
}

.contact-me__section--form > input, textarea {
	width: 100%;
	margin-bottom: 20px;
}

.contact-me__section--form__name--email {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
	margin-bottom: 20px;
}

.contact-me__section--form input, textarea {
	border: none;
	outline: none;
	padding: 15px 18px;
	background: #aec9e480;
	font-size: 1.2rem;
	
}

textarea {
	height: 200px;
}

.contact-me__section--form button {
	width: 100%;
	padding: 15px;
	color: white;
	background: rgba(217, 44, 249, 0.8);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.1rem;
}

.contact-me__section--form button:hover {
	background: var(--color-2);
}